/* ==================================
          Main Style
================================== */

body, html {
  background-color: #f7f7fd;
  font-family: 'Raleway', sans-serif;
}

.center {
  text-align: center;
}

/* ==================================
          Container
================================== */

.uk-container {
  background-color: #ffffff;
  padding-right: 0;
}

/* ==================================
          Left Column
================================== */

.left-column {
  padding: 0 20px;
}

/* Navigation */
.uk-navbar-nav > li > a {
  text-transform: none;
  color: #6e91ff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.uk-navbar-nav > li > a:hover, 
.uk-navbar-nav > li >a:active, 
.uk-navbar-nav > li >a:focus {
  text-transform: none;
  color: #1c50fc;
  font-family: 'Raleway', sans-serif;
}

/* Tittle */
.tittle-container {
  margin: 10px auto;
}

.tittle {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  color: #38436b;
  text-align: center;  
}

.subtitle {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;  
  color: #c1c5dc;
  text-align: center;
}

/* Contact Form*/
.contact-form {
  padding: 0 10px;
}

/* Button */
.uk-button {
  text-align: center;
  background-color: #6e91ff;
  color: #ffffff;
  text-transform: none;
  transition: background-color .8s;
  border-radius: 25px;
}

.uk-button:hover {
  background-color: #1c50fc;
  -webkit-transition: background-color .8s;
  -moz-transition: background-color .8s;
  -o-transition: background-color .8s;
  -ms-transition: background-color .8s;
  transition: background-color .8s;
}

/* ==================================
          Right Column
================================== */

.right-column {
  background-color: #6e91ff;
  padding: 20px;
  color: #ffffff;
}

/* Search Box */
.uk-search-default .uk-search-input {
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 25px;
  padding-left: 10px;
}

.uk-search-default .uk-search-input::-webkit-input-placeholder { /* Chrome */
  color: #ffffff;
}

.uk-search-default .uk-search-input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}

.uk-search-default .uk-search-input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}

.uk-search-input::placehoder {
  color: #ffffff;
}

/* Contact Info */
.contact-info {
  margin-bottom: 50px;
  padding-left: 30px;
}

.contact-info h3{
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-top: 50px;
}

/* Social Icons */
.uk-icon {
  color: #ffffff;
}

.uk-iconnav {
  align-items: center;
  justify-content: center;
}

.uk-iconnav > li {
  padding: 10px 20px;
}

.uk-iconnav > li :hover {
 color: #ffffff;
}
/* ==================================
          Responsive
================================== */
@media only screen and (min-width: 960px) {
    .uk-container {
        margin-top: 40px;
    }

    .contact-info {
      padding: 50px 0;
    }

    .contact-form {
      padding: 0 50px;
    }
}